@*@model ExpenseCategoryDTO
@{
    ViewData["Title"] = "Delete";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<script src="https://use.fontawesome.com/c7a575b4de.js"></script>

<div class="row content-wrapper content">
    <div class="col-md-8">
        <div>
            <section>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Delete Expense</h3>
                    </div>
                    <hr />
                        <form role="form" method="post" asp-action="Delete">

                             <div class="row">
                                <div class="col-2"></div> <div class="col-8 text-center">
                                    <h5 class="card-title text-center bg-danger" style="color:white">Are you Sure you want to Delete this?</h5>
                                </div>
                            </div>

                            <div class="box-body">
                              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                              <input asp-for="CategoryID" type="hidden" />
                                
                              <div class="form-group">
                                    <label asp-for="CategoryName" class="control-label"></label>
                                    <input asp-for="CategoryName" readonly class="form-control" />
                                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                                </div>

                                
                            </div>

                            <div class="box-footer">
                                <div class="col-lg-4 col-md-4 pull-right form-group">
                                    <button class="btn btn-primary btn-block" type="submit">
                                        <i class="fa fa-trash-o"></i>
                                        <span>Delete Expense</span>
                                    </button>
                                </div>
                                <div class="col-md-2">
                                    <a class="form-group btn btn-danger btn-block fa fa-arrow-circle-left" href="/ExpenseCategoryUI/Index"><span> Back</span></a>
                                </div>
                            </div>

                       </form>
                </div>
            </section>
        </div>
    </div>
</div>
*@