@model ExpenseTracker.Web.Models.ExpenseDTO

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

<!--Main Div START-->
<div class="row content-wrapper">
    <div class="col-md-8 offset-md-2 p-4 bg-light shadow">
         <!--Section END-->
        <section>
            <!-- General form elements -->
            <div class="box box-primary">
                <!-- Box header -->
                <div class="box-header with-border text-primary">
                    <h3 class="box-title">Edit Expense</h3>
                </div>
                  <hr />
                <form method="post" role="form" asp-action="Edit">
                    <!-- Box body START -->
                    <div class="box-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                       
                        <div class="form-group">
                            <input asp-for="ExpenseID" type="hidden" class="form-control" /> 
                            <input asp-for="DateCreated" type="hidden" class="form-control" />
                            <input asp-for="IsRowDeleted" type="hidden" class="form-control" /> 
                        </div>

                        <div class="form-group">
                            <label asp-for="CategoryName" class="control-label text-secondary"></label>
                            <select asp-for="CategoryID" class="form-control">
                                <option value="">-- Select Category --</option>
                                @foreach(var item in Model.CategoryDropDownList)
                                {
                                    <option value="@item.CategoryID">
                                        @item.CategoryName
                                    </option>
                                }
                            </select> 
                        </div>
                        <div class="form-group">
                            <label asp-for="Amount" class="control-label text-secondary"></label>
                            <input asp-for="Amount" class="form-control" data-val="true" data-val-length="The field Amount must be a Number with a minimum length of 3 and a maximum length of 50." data-val-length-max="50" data-val-length-min="3" data-val-required="The Amount field is required." placeholder="Amount"/>
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ExpenseDate" class="control-label text-secondary"></label>
                            <div class="input-group date"">
                                <input asp-for="ExpenseDate" id="datepicker" type="text" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" />
                                <span class="input-group-addon" id="btnPicker">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <span asp-validation-for="ExpenseDate" class="text-danger"></span>
                        </div>  
                    </div>
                    <!--Box body END-->
                    <br /><br />

                    <!--Box footer START-->
                     <div class="box-footer">
                        <div class="col-lg-4 col-md-4 pull-right form-group">
                            <button class="btn btn-primary btn-block" value="Save" type="submit">
                                <i class="bi bi-pen"></i>
                                <span>Update Expense</span>
                            </button>
                        </div>
                        <div class="col-md-4">
                            <a class="form-group btn btn-danger btn-block bi bi-arrow-left-circle-fill" href="/ExpenseUI/Index"><span> Back</span></a>
                        </div>
                    </div>
                    <!--Box footer END-->
                </form>
            </div>
         </section>
         <!--Section START-->
    </div>
</div>
<!-- Main Div END -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <!--- For datetimepicker -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

   <script>
        $(function () {
            $("#datepicker").datepicker({
                format: 'mm-dd-yyyy',
                changeMonth: true,
                changeYerar: true,
                ignoreReadonly: true,
                maxDate:'now'
            });

        });
        $("#btnPicker").click(function () {

        $("#datepicker").focus();
        });
    </script>
}
